html{
  height: 100%;
}
body{
	font-family: 'Raleway', sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

h2{
  text-align: center;
}

input{
  height: 20px;
  width:185px;
  margin:15px 0 0 15px;
}

label{
  width:120px;
  display: inline-block;
}

p{
  text-align: center;
  width:45%;
  margin: 0 auto;
  display: block;
  padding: 0 0 50px 0;
}
footer {
  padding: 1em;
  background-color: #efefef;
  text-align: center;
  font-size: 10px;
  color:#a0a0a0;
}
table{
  padding: 10px 5px 10px 5px;
  margin: 15px 5px 100px 15;
  border-collapse:collapse;
}
td{
  border-bottom: solid 2px grey;
  padding: 0 5px 0 5px;
}

.form{
   flex: 1;
}
.button{
  border: none;
  height: 24px;
  width:350px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
  margin: 0 auto;
  display: block;
  padding: 8px 30px 30px 30px;
  /*The following code based on an example from https://www.sanwebe.com/2014/08/css-html-forms-designs*/
  background: #43D1AF;
  color: #fff;
  box-shadow: 1px 1px 4px #DADADA;
  -moz-box-shadow: 1px 1px 4px #DADADA;
  -webkit-box-shadow: 1px 1px 4px #DADADA;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
} 

.vis{
  padding: 10px 10px 0 40%;

}

.landing{
  margin: 0 auto;
  display: block;
  flex: 1;
}


